@model BookShop.ViewModels.MenuItemVM
@using BookShop.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Create MenuItem</h3>
<hr />
<div class="container border p-3">
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MenuItem.Name" class="control-label"></label>
                    <input asp-for="MenuItem.Name" class="form-control" />
                    <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MenuItem.Description" class="control-label"></label><br />
                    <textarea asp-for="MenuItem.Description" class="form-control"></textarea>
                    @*Html.TextAreaFor(m=>m.MenuItem.Description)*@
                    <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MenuItem.Price" class="control-label"></label>
                    <input asp-for="MenuItem.Price" class="form-control" />
                    <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MenuItem.CategoryId" class="control-label"></label>
                    <select asp-for="@Model.MenuItem.CategoryId" id="CategoryId" asp-items="Model.Categories.ToSelectListItem(Model.MenuItem.CategoryId)" class="form-control"></select>
                    @*<select asp-for="@Model.MenuItem.CategoryId" id="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))" class="form-control"></select>*@
                </div>
                <div class="form-group">
                    <label asp-for="MenuItem.Image" class="control-label"></label>
                    <input type="file" name="files" multiple class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Create" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-info" asp-action="Index">Back to list</a>
    </div>
</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}



